<a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
<a routerLink="/todo/1" routerLinkActive="active-link">Todo 1</a>
<a routerLink="/todo/2" routerLinkActive="active-link">Todo 2</a>
<a routerLink="/parent" routerLinkActive="active-link">Parent</a>
<a routerLink="/parent/child" routerLinkActive="active-link">Child</a>
<a routerLink="/parent/child2" routerLinkActive="active-link">Child 2</a>
<a routerLink="/admin" routerLinkActive="active-link">Admin</a>

<br />

<router-outlet />
